---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import  Navitem from "../shared/Navitem.astro";

const navItems = [
    {
        href:"#",
        text:"Home"
    },
    {
        href:"#services",
        text:"Services"
    },
    {
        href:"#about-us",
        text:"About us"
    },
    {
        href:"#features",
        text:"Features"
    },
]
---

<header class="absolute inset-x-0 top-0 z-50 py-6">
    <Container>
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- logo -->
            <div class="relative w-7 h-7 overflow-hidden flex rounded-xl">
                <!-- 替换为您的 SVG -->
                <svg id="_图层_1" data-name="图层 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.71 437.74" class="w-7 h-7">
                    <path d="M0,428.34c7.92-.41,14.61-4.38,20.03-11.9,5.42-7.51,8.14-18.99,8.14-34.44V53.31c0-15.44-2.72-26.92-8.14-34.44C14.61,11.36,7.92,7.61,0,7.61V.09l5.01.63c19.19.84,32.76,1.25,40.7,1.25,15.03,0,31.93-.63,50.71-1.88,5.84-.41,10.54.53,14.09,2.82,3.54,2.3,7.09,7.2,10.64,14.71,3.54,7.51,7.83,19.41,12.83,35.69l106.44,299.9L347.48,53.31c6.67-20.87,14.18-35.06,22.54-42.57,8.34-7.51,17.32-11.05,26.92-10.64h8.77c6.26.42,16.69.63,31.3.63l40.7-.63v7.51c-7.93,0-14.71,3.76-20.35,11.27-5.64,7.51-8.45,19-8.45,34.44v328.7c0,15.45,2.82,26.92,8.45,34.44,5.63,7.51,12.41,11.49,20.35,11.9v6.88c-32.98-1.66-56.98-2.5-72-2.5s-39.03.84-72,2.5v-6.88c7.92-.41,14.71-4.38,20.35-11.9,5.63-7.51,8.45-18.99,8.45-34.44V126.56l-82.02,226.02c-6.68,20.88-10.02,36.94-10.02,48.21,0,15.87,6.67,25.04,20.03,27.55l4.38,6.88c-9.61-.83-21.08-.41-34.44,1.25-7.51.83-13.57,1.25-18.16,1.25-9.19,0-19.41-1.66-30.68-5.01-23.38-7.09-42.16-33.81-56.35-80.14L68.87,114.04v267.97c0,15.45,2.71,26.92,8.14,34.44,5.42,7.51,12.1,11.49,20.03,11.9v6.88c-17.12-1.66-33.18-2.5-48.21-2.5s-31.73.84-48.84,2.5v-6.88Z"/>
                </svg>
            </div>
                    <div class="inline-flex text-lg font-semibold text-heading-1">
                        Mithril Digital Media
                    </div>
                </a>
            </div>

            <div data-nav-overlay aria-hidden="true" class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"></div>
            <div data-navbar class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0">
                <ul class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center">
                    {navItems.map(item=>{
                        return <Navitem {...item}/>
                    })
                    }
                </ul>

                <div class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0">
                    <BtnLink text="Get Started" href="#cta" className="flex justify-center w-full sm:w-max" variant="primary"/>
                </div>
            </div>


            <div class="min-w-max flex items-center gap-x-3">
                <button data-switch-theme class="outline-none flex relative text-heading-2 rounded-full p-2 lg:p-3 border border-box-border ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:flex hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                      </svg>
                                    
                    <span class="sr-only">switch theme</span>
                </button>
                
                <button data-toggle-nav data-open-nav="false" class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative">
                    <span id="line1" class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line2" class="w-6 origin-center  mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line3" class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span>                         
                    <span class="sr-only">togglenav</span>
                </button>
            </div>
        </nav>
    </Container>
</header>